<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">
  <link rel="stylesheet" href= "../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel = "stylesheet" href ="../../css/styles.css"/>
  <script src= "../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <title>Widget Youtube</title>
</head>
<body>
<div class="container fluid">
  <nav class="navbar navbar-default navbar-fixed-top">

    <a class=" navbar-brand pull-left chevron-right-margin" href="../../views/widget/widget-list.html">
      <span class = "glyphicon glyphicon-chevron-left black" style="color: black"></span>
    </a>
    <a class="navbar-brand" href="#">Widget-Youtube</a>
    <a class=" navbar-brand pull-right" href="../../views/widget/widget-list.html">
      <span class = "glyphicon glyphicon-ok black"></span>
    </a>

  </nav>

  <div class="container-fluid content-top-margin">
    <label for="username">Name</label>
    <input
      placeholder="widget Name"
      type = "text"
      id = "pagename"
      class=" form-control"/>
    <label for="Email">Text</label>
    <input
      placeholder="Description"
      type = "text"
      id = "Email"
      class=" form-control"/>
    <label for="URL">URL</label>
    <input
      placeholder="https://www.youtube.com"
      type = "text"
      id = "URL"
      class=" form-control"/>
    <label for="username">Width</label>
    <input
      placeholder="100%"
      type = "text"
      id = "Width"
      class=" form-control"/>
    <a href="../../views/widget/widget-list.html" class="btn btn-danger btn-block">Delete</a>

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <a href = "../User1/profile.html" class="pull-right">
        <span class="glyphicon-user glyphicon"></span>
      </a>
    </nav>
  </div>
</div>
</body>
</html>

