<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">
  <link rel="stylesheet" href= "../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel = "stylesheet" href ="../../css/styles.css"/>
  <script src= "../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <title>Widget Chooser</title>
</head>
<body>
<div class="container fluid">
  <nav class="navbar navbar-default navbar-fixed-top">

    <a class=" navbar-brand pull-left" href="../../views/widget/widget-list.html" style="margin-right: 10px;">
      <span class = "glyphicon glyphicon-chevron-left" style="color: black"></span>
    </a>
    <a class="navbar-brand" href="#">Widget-chooser</a>
    <a class=" navbar-brand pull-right" href="../../views/widget/widget-list.html">
      <span class = "glyphicon glyphicon-ok" style="color:black"></span>
    </a>

  </nav>

  <div class="container-fluid" style="margin-top: 70px">
    <ul class = "list-group ">
      <li class="list-group-item ">

        <a href="../widget/widget-heading.html">
          Header
        </a>
      </li>
      <li class="list-group-item">

        <a  href="../widget/widget-youtube.html">
          Youtube
        </a>
      </li>
      <li class="list-group-item">

        <a  href="#">
          Button
        </a>
      </li>
      <li class="list-group-item">

        <a  href="../widget/widget-image.html">
         Image
        </a>
      </li>
      <li class="list-group-item">

        <a  href="#">
         HTML
        </a>
      </li>
      <li class="list-group-item">

        <a  href="#">
          Paragraph
        </a>
      </li>

    </ul>

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <a href = "#" class="pull-right">
        <span class="glyphicon-user glyphicon"></span>
      </a>
    </nav>
  </div>
</div>
</body>
</html>

