<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">
  <link rel="stylesheet" href= "../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel = "stylesheet" href ="../../css/styles.css"/>
  <script src= "../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <title>Page-list</title>
</head>
<body>
<div class="container fluid">
  <nav class="navbar navbar-default navbar-fixed-top">

    <a class=" navbar-brand pull-left" href="../website/website-list.html" style="margin-right: 10px;">
      <span class = "glyphicon glyphicon-chevron-left" style="color: black"></span>
    </a>
    <a class="navbar-brand" href="#">Page list</a>
    <a class=" navbar-brand pull-right" href="page-new.html">
      <span class = "glyphicon glyphicon-plus" style="color:black"></span>
    </a>

  </nav>
<div class="container-fluid" style="margin-top: 70px">
  <ul class = "list-group ">
    <li class="list-group-item ">
      <a href="../../views/widget/widget-list.html">Login</a>
      <a class="pull-right" href="page-edit.html">
        <span class = "glyphicon glyphicon-cog"></span>
      </a>
    </li>
    <li class="list-group-item">
     <a href="../../views/widget/widget-list.html">Register</a>
      <a class="pull-right" href="page-edit.html">
        <span class = "glyphicon glyphicon-cog"></span>
      </a>
    </li>
    <li class="list-group-item">
      <a href="../../views/widget/widget-list.html">website List</a>
      <a class="pull-right" href="page-edit.html">
        <span class = "glyphicon glyphicon-cog"></span>
      </a>
    </li>
    <li class="list-group-item">
      <a href="../../views/widget/widget-list.html">Twitter</a>
      <a class="pull-right" href="page-edit.html">
        <span class = "glyphicon glyphicon-cog"></span>
      </a>
    </li>
  </ul>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <a href = "../User1/profile.html" class="pull-right">
      <span class="glyphicon-user glyphicon"></span>
    </a>
  </nav>
</div>
</div>
</body>
</html>

