
<div class="container fluid">
  <nav class="navbar navbar-default navbar-fixed-top">

    <a class=" navbar-brand pull-left chevron-right-margin" [routerLink]="['/user',userId,'website',webId,'page',pageId,'widget','new']">
      <span class = "glyphicon glyphicon-chevron-left black"></span>
    </a>
    <a class="navbar-brand" >Widget-heading</a>

    <a class=" navbar-brand pull-right" (click)="createWidget()"
       [routerLink]="['/user',userId,'website',webId,'page',pageId,'widget']">
      <span class = "glyphicon glyphicon-ok black"></span>
    </a>

  </nav>

  <div class="container-fluid content-top-margin">
    <label for="pagename">Name</label>
    <input
      placeholder="widget heading"
      type = "text"
      id = "pagename"
      class=" form-control"/>
    <label for= "text">Text</label>
    <input [(ngModel)]='text'
           name="text"
      placeholder="President trump needs to do some work rather than playing golf"
      type = "text"
      id = "text"
      class=" form-control"/>
    <label for="URL">Size</label>
    <input [(ngModel)]='size'
           name="size"
      placeholder="5"
      type = "text"
      id = "URL"
      class=" form-control"/>

    <a (click)="deleteWidget()"
       [routerLink]="['/user',userId,'website',webId,'page',pageId,'widget']" class="btn btn-danger btn-block">Delete</a>

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <a [routerLink]="['/user/',userId]" class="pull-right">
        <span class="glyphicon-user glyphicon"></span>
      </a>
    </nav>
  </div>
</div>

