
<div class="container fluid">
  <nav class="navbar navbar-default navbar-fixed-top">

    <a class=" navbar-brand pull-left chevron-right-margin" [routerLink]="['/user',userId,'website',webId,'page',pageId,'widget']">
      <span class = "glyphicon glyphicon-chevron-left black"></span>
    </a>
    <a class="navbar-brand">Widget-image</a>
    <a class=" navbar-brand pull-right" (click)="createWidget()">
      <span class = "glyphicon glyphicon-ok black"></span>
    </a>

  </nav>

  <div class="container-fluid content-top-margin">
    <div class="body container-fluid">
      <form ngNoForm action="{{baseURL}}/api/uploads" method="post" enctype="multipart/form-data">

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control"  required id="name" placeholder="name">
        </div>

        <div class="form-group">
          <label for="text">Text</label>
          <input [(ngModel)]='text' name="text"
                 type="text" class="form-control" id="text" placeholder="info about image">
        </div>

        <div class="form-group">
          <label for="url">URL</label>
          <input [(ngModel)]='url' name="url"
                 type="text" class="form-control" id="url" placeholder="https://www.google.com">
        </div>

        <div class="form-group">
          <label for="width">Width</label>
          <input [(ngModel)]='width' name="width"
                 type="text" class="form-control" id="width" placeholder="100%">
        </div>


        <div class="form-group">
          <label for="myFile">
            Upload
          </label>
          <input [(ngModel)]="upload"
                 required
                 name="myFile"
                 type="file"
                 class="form-control"
                 id="myFile"
                 value="100%">
        </div>

        <div class="form-group">
          <input  name="widgetId" value="{{widgetId}}"   style="display: none"/>
          <input  name="webId" value="{{webId}}"   style="display: none"/>
          <input  name="pageId" value="{{pageId}}"   style="display: none"/>
          <input  name="userId" value="{{userId}}"   style="display: none"/>
          <button type="submit" class="form-control btn btn-primary">
            Upload Image
          </button>
        </div>


        <a class="btn btn-danger btn-block " (click)="deleteWidget()">Delete</a>


      </form>

      <button type="submit" class="form-control btn btn-primary"
              [routerLink]="['/user/',userId,'website',webId,'page',pageId,'widget','new','image','search']">
        Search Image


      </button>

    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <a [routerLink]="['/user',userId]" class="pull-right">
        <span class="glyphicon-user glyphicon"></span>
      </a>
    </nav>

</div>

</div>
